.data-hora {
    text-align: center;
}

#dialog-fechar {
    position: absolute;
    top: 0;
    right: 0;
    
}

#alerta-ponto-registrado {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    background-color: green;
    color: white;
<<<<<<< HEAD
=======
}

.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
>>>>>>> e8b2eb2ad3f78779bdb2ef09844bf4870ba0663e
}

.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
}